<!-- views/layouts/main.handlebars -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="User Authentication">
  <meta name="author" content="">

  <title>User Auth</title>

  <!-- CSS framework-->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../public/style.css">
  </head>

  <body>

    <div class="container">

      <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              {{#if user}}
                <p class="navbar-text">
                  <strong>Hi,</strong>
                  <img src="{{user.profilepics}}" width="20" height="20">
                  {{user}}
                </p>
                </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li>
                    <a href="/logout">Log Out</a>
                  </li>
              {{else}}
                <a href="/signin">Sign In</a>
                </li>
              {{/if}}</li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
      </div><!-- /.container-fluid -->
    </nav>

    {{#if error}}
      <p class="alert alert-warning">{{error}}</p>
    {{/if}}

    {{#if success}}
      <p class="alert alert-success">{{success}}</p>
    {{/if}}

    {{#if notice}}
      <p class="alert alert-info">{{notice}}</p>
    {{/if}}

    <!--where our other templates will insert-->
    {{{body}}}

    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCfXrpBKVGKKFIZ8MOnreNtdtLrMtHGcII",
    authDomain: "pair-programming-cea9c.firebaseapp.com",
    databaseURL: "https://pair-programming-cea9c.firebaseio.com",
    storageBucket: "pair-programming-cea9c.appspot.com",
  };
  firebase.initializeApp(config);
  var db = firebase.database();
  var ref = db.ref('/');
  //console.log(ref.push('hello').key); 

  firebase.auth().onAuthStateChanged(function(user) {
  if (user) {
    // User is signed in.
  } else {
    // No user is signed in.
  }
});
  $("#local-sign-in").on('submit', function(e) 
{
        e.preventDefault();
        var email = $("input[name='username']").val();
        var password = $("input[name='password']").val(); 
        console.log(email, password);
        firebase.auth().signInWithEmailAndPassword(email, password).then(function(userData){
            var email = userData.email;
            console.log(email, 'fidfodfifi');
            var user = email.split('@')[0];
            $.post( "/signin", { name: user, time: "2pm" }, function(){
              console.log('succesful');
            } );
           
           location.href = '/home/' + user;
           //console.log(obj);
        }).catch(function(error) {
        // Handle Errors here.
        var errorCode = error.code;
        var errorMessage = error.message;
        console.log(errorCode, errorMessage);
        // ...
        });
        
    });
    
    //handles signup
     $("#local-reg").on('submit', function(e) 
    {
        e.preventDefault();
        var email = $("input[name='signupEmail']").val();
        var password = $("input[name='signupPassword']").val(); 
        console.log(email, password);
        firebase.auth().createUserWithEmailAndPassword(email, password).then(function(userData){
            var user = userData.email;
            console.log(user);
        }).catch(function(error) {
            // Handle Errors here.
            var errorCode = error.code;
            var errorMessage = error.message;
            
                switch (error.message) {
                case "auth/email-already-in-use":
                    console.log("The new user account cannot be created because the email is already in use.");
                    break;
                case "auth/invalid-email":
                    console.log("The specified email is not a valid email.");
                    break;
                default:
                    console.log("Error creating user:", error);
                }
            // ...
        });
    });
     $("#local-reg").on('submit', function(e) 
    {
        e.preventDefault();
        firebase.auth().signOut().then(function() {
        // Sign-out successful.

        }, function(error) {
        // An error happened.
        });
    });

</script>
    
</body>
</html>