<!-- views/home.handlebars -->
{{#if user}}
<nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Code Pair</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li></li>
            <li></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              {{#if user}}
                <p class="navbar-text" data-user=" {{user}}" id="userId">
                  <strong>Hi,</strong>
                  {{user}}
                  <img src="{{user.profilepics}}" width="20" height="20">
                </p>
                </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li>
                    <a href="/logout">Log Out</a>
                  </li>
              {{else}}
                <a href="/signin">Sign In</a>
                </li>
              {{/if}}</li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
  <div class="jumbotron" style="margin-top:40px; padding: 20px; height: 300px">
    <h1>Codepair User App</h1>
    <p>Begin below</p>
  </div>
  {{#if session}}
  <div class="panel panel-default col-md-8">
    <div class="panel-heading">
        <h2 id="session_id" data-user="{{session}}">Session: {{session}}</h2>
        <h3 class="panel-title"><b>List of active users</b></h3>
        <p id="username" data-user="{{user}}"> Users: {{user}}</p>
    </div>
   
  </div>
    <div class="panel-body col-md-4">
      <div class="form-inline">
          <form id="" method="post" >
        <input  type="text" class="form-control" name ="guest_usrname" placeholder="Invite user(s) to session">
        <!--<input id="sendChatBtn" type="submit" value="Invite" class="btn btn-primary btn-sm">-->
        <button type="submit" id="sendChatBtn" name="submit-btn" class="btn btn-primary btn-sm">Invite</button>
        </form>
  </div>
    </div>
  {{else}}
  <div class="panel panel-default col-md-9">
    <div class="panel-heading">
      <h3 class="panel-title">Create a session below</h3>
    </div>
    <div class="panel-body col-md-9">
      <div class="form-inline">
          <form id="session" method="post" >
        <input type="hidden" class="form-control" name ="user_name" value= "{{ user }}">
        <input type="text" class="form-control" name ="session_name" placeholder="Eg: javascript">
        <input type="submit" value="create session" class="btn btn-primary btn-sm">
        </form>
  </div>
    </div>
  </div>
 
    {{/if}}
  <div class="container">
    <div class="row">
        <div class="col-md-8">
        <form class="form">
          <div class="form-group col-md-6">
            <label for="mode" class="control-label">Language Mode:</label>
            <select id="language" class="form-control">
              <option value="ruby">Ruby</option>
              <option value="css">CSS</option>
              <option value="javascript"  selected="selected"  >JavaScript</option>
              <option value="java">Java</option>
              <option value="PHP">PHP</option>
              <option value="python">Python</option>
              <option value="html">HTML</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="mode" class="control-label">Theme:</label>
            <select id="theme" class="form-control">
              <option value="textmate">Textmate</option>
              <option value="clouds">Clouds</option>
              <option value="eclipse">Eclipse</option>
              <option value="terminal">Terminal</option>
              <option value="github">Github</option>
              <option value="monokai">Monokai</option>
              <option value="chaos">Chaos</option>
              <option value="iplastic">iPlastic</option>
              <option value="cobalt" selected="selected">Cobalt</option>
              <option value="dawn">Dawn</option>
              <option value="dreamweaver">Dreamweaver</option>
            </select>
          </div>
        </form>
        <div>
         <div id="editor" class="col-sm-12" style="height: 300px;">
        </div>
    </div>
       </div> 
    <div class="col-md-4">
        <h1> Chat Area</h1>
         <!--<h1> Chat Area</h1>-->
<div class="panel panel-default">
        <div class="panel-body"></div>
        <div class="panel-footer">
 
            <form role="form">
                <div class="form-group">
                    <label for="comments"></label>
                    <div id="messageDiv"></div>
                    <input class="form-control" id="messageInput" name="comments" placeholder="enter your messages here">
                </div>
 
                <button type="submit" id="chat_submit-btn" name="submit-btn"
                    class="btn btn-primary">Send Comments</button>
 
                <button type="reset" class="btn btn-default">Clear Comments</button>
            </form>
 
        </div>
    </div>
    </div>
</div>
{{else}}
    <!DOCTYPE html>
<html class="no-js">

<head>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- Fonts -->
    <!-- Lato -->
    
</head>

<body id="body">

    <div id="preloader">
        <div class="book">
            <div class="book__page"></div>
            <div class="book__page"></div>
            <div class="book__page"></div>
        </div>
    </div>

    <!-- 
	    Header start
	    ==================== -->
    <div class="navbar-default navbar-fixed-top" id="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
	                    <span class="sr-only">Toggle navigation</span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                </button>
                <a class="navbar-brand" href="#">
                    <img class="logo-1" src="images/logo.png" alt="LOGO">
                    <img class="logo-2" src="images/logo-2.png" alt="LOGO">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <nav class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right" id="top-nav">
                    <li class="current"><a href="#body">Home</a></li>
                    <li><a href="/signin">Signin/ Signup</a></li>
                </ul>
            </nav>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </div>

    <section id="hero-area">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="block">
                        <h1 class="wow fadeInDown">Welcome to Code-Buddies</h1>
                        <p class="wow fadeInDown" data-wow-delay="0.3s">Code buddies is a site that connects software developers allowing for pair programming and real time chat</p>
                        <div class="wow fadeInDown" data-wow-delay="0.3s">
                            <a class="btn btn-default btn-home" href="#about" role="button">Get Started</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 wow zoomIn">
                    <div class="block">
                        <h1 class="wow fadeInDown">Count Down To Launch</h1>
                        <div class="counter text-center">
                            <ul id="countdown_dashboard">
                                <li>
                                    <div class="dash days_dash">
                                        <div class="digit">0</div>
                                        <div class="digit">0</div>
                                        <div class="digit">0</div>
                                        <span class="dash_title">Days</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="dash hours_dash">
                                        <div class="digit">0</div>
                                        <div class="digit">0</div>
                                        <span class="dash_title">Hours</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="dash minutes_dash">
                                        <div class="digit">0</div>
                                        <div class="digit">0</div>
                                        <span class="dash_title">Minutes</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="dash seconds_dash">
                                        <div class="digit">0</div>
                                        <div class="digit">0</div>
                                        <span class="dash_title">Seconds</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .row close -->
        </div>
        <!-- .container close -->
    </section>
    <!-- header close -->
    <!-- #call-to-action close -->



    <section clas="wow fadeInUp">
        <div class="map-wrapper">
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <p>Copyright &copy; <a href="#">code-buddies</a>| All right reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
<script>
</script>
{{/if}}