<!-- views/home.handlebars -->
{{#if user}}
<nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Code Pair</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li></li>
            <li></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              {{#if user}}
                <p class="navbar-text">
                  <strong>Hi,</strong>
                  {{user}}
                  <img src="{{user.profilepics}}" width="20" height="20">
                </p>
                </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li>
                    <a href="/logout">Log Out</a>
                  </li>
              {{else}}
                <a href="/signin">Sign In</a>
                </li>
              {{/if}}</li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
  <div class="jumbotron" style="margin-top:40px; padding: 20px; height: 300px">
    <h1>Codepair User App</h1>
    <p>Begin below</p>
  </div>
  {{#if session}}
  <div class="panel panel-default col-md-8">
    <div class="panel-heading">
        <h2 id="session_id" data-user=" {{session}}">Session: {{session}}</h2>
        <h3 class="panel-title"><b>List of active users</b></h3>
        <p id="username" data-user=" {{user}}"> Users: {{user}}</p>
    </div>
   
  </div>
    <div class="panel-body col-md-4">
      <div class="form-inline">
          <form id="" method="post" >
        <input type="text" class="form-control" name ="" placeholder="Invite user(s) to session">
        <input id="sendChatBtn" type="submit" value="Invite" class="btn btn-primary btn-sm">
        </form>
  </div>
    </div>
  {{else}}
  <div class="panel panel-default col-md-9">
    <div class="panel-heading">
      <h3 class="panel-title">Create a session below</h3>
    </div>
    <div class="panel-body col-md-9">
      <div class="form-inline">
          <form id="session" method="post" >
        <input type="text" class="form-control" name ="session_name" placeholder="Eg: javascript">
        <input type="submit" value="create session" class="btn btn-primary btn-sm">
        </form>
  </div>
    </div>
  </div>
 
    {{/if}}
  <div class="container">
    <div class="row">
        <div class="col-md-8">
        <form class="form">
          <div class="form-group col-md-6">
            <label for="mode" class="control-label">Language Mode:</label>
            <select id="language" class="form-control">
              <option value="ruby">Ruby</option>
              <option value="css">CSS</option>
              <option value="javascript"  selected="selected"  >JavaScript</option>
              <option value="java">Java</option>
              <option value="PHP">PHP</option>
              <option value="python">Python</option>
              <option value="html">HTML</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="mode" class="control-label">Theme:</label>
            <select id="theme" class="form-control">
              <option value="textmate">Textmate</option>
              <option value="clouds">Clouds</option>
              <option value="eclipse">Eclipse</option>
              <option value="terminal">Terminal</option>
              <option value="github">Github</option>
              <option value="monokai">Monokai</option>
              <option value="chaos">Chaos</option>
              <option value="iplastic">iPlastic</option>
              <option value="cobalt" selected="selected">Cobalt</option>
              <option value="dawn">Dawn</option>
              <option value="dreamweaver">Dreamweaver</option>
            </select>
          </div>
        </form>
        <div>
         <div id="editor" class="col-sm-12" style="height: 300px;">
          function foo(items) {
              var x = "All this is syntax highlighted";
              return x;
          }
        </div>
    </div>
       </div> 
    <div class="col-md-4">
        <h1> Chat Area</h1>
         <!--<h1> Chat Area</h1>-->
<div class="panel panel-default">
        <div class="panel-body"></div>
        <div class="panel-footer">
 
            <form role="form">
                <div class="form-group">
                    <label for="comments"></label>
                    <div id="messageDiv"></div>
                    <input class="form-control" id="messageInput" name="comments" placeholder="enter your messages here">
                </div>
 
                <button type="submit" id="submit-btn" name="submit-btn"
                    class="btn btn-primary">Send Comments</button>
 
                <button type="reset" class="btn btn-default">Clear Comments</button>
            </form>
 
        </div>
    </div>
    </div>
</div>
<!--<script>
 
//     var editor = ace.edit("editor");
// editor.setTheme("ace/theme/monokai");
// editor.getSession().setMode("ace/mode/javascript");

 var config = {
        apiKey: "AIzaSyCfXrpBKVGKKFIZ8MOnreNtdtLrMtHGcII",
        authDomain: "pair-programming-cea9c.firebaseapp.com",
        databaseURL: "https://pair-programming-cea9c.firebaseio.com",
        storageBucket: "pair-programming-cea9c.appspot.com",
    };
    firebase.initializeApp(config);

    //init realtime database
    var db = firebase.database();
    var ref = db.ref("session-id/");

    //Set variables
    var session = null;
    var editor = null;
    //var userid = Cookies.get('userid');
    var displayName = $('#username').data('user');
    var sessionId = $('#session-id').data('session'); 
    //changes lang and theme..... 
    function changeEditorOption(language, theme) {
    editor.setTheme('ace/theme/' + theme);
    session.setMode('ace/mode/' + language);
    }
 //
 $(document).ready(function ($) {
  var app = {
    init: function (selectedLanguage, selectedTheme) {
      // Set defaults for the theme and language

      save_theme = localStorage.getItem('theme');
      if(save_theme){
        $('#theme').val(save_theme);
      }
      var theme = selectedTheme || save_theme || 'monokai';
      var language = selectedLanguage || 'javascript';

      // Get current session firebase ref
      editor = ace.edit('editor');
      session = editor.getSession();
      app.bindEvents();
      // Initialize ACE Editor
      editor.setTheme('ace/theme/' + theme);
      session.setUseWrapMode(true);
      session.setUseWorker(false);
      session.setMode('ace/mode/' + language);
      pageRef = app.getPageRef();
      var firePad = Firepad.fromACE(pageRef, editor);
      var firepadUserList = FirepadUserList.fromDiv(pageRef.child('users/'+
         sessionId), document.getElementById('userlist'), userid, displayName);
    },
    bindEvents: function () {
      // Language change event handler
      $('#language').change(function () {
          console.log(language);
        var lang = $(this).val();
        var theme = $('#theme').val();
        changeEditorOption(lang, theme);
        app.updateSession(lang);
      }); 

       $('#theme').change(function () {
        var theme = $(this).val();
        var lang = $('#language').val();
        changeEditorOption(lang, theme);

        localStorage.setItem('theme', theme);
      });     
    },
    getPageRef: function () {
      return firepadRef.child('session/' + sessionId);
    },
    updateSession: function (lang) {
      // Update the programming language of session
      var sessionId = $('#session-id').val();
      $.ajax({
        url: '/pair/'+sessionId,
        type: 'PUT',
        data: {
          'language': lang
        }
      });
    }
  };
 app.init();
});
</script>-->

{{else}}
    <!DOCTYPE html>
<html class="no-js">

<head>
   

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- Fonts -->
    <!-- Lato -->
    
</head>

<body id="body">

    <div id="preloader">
        <div class="book">
            <div class="book__page"></div>
            <div class="book__page"></div>
            <div class="book__page"></div>
        </div>
    </div>

    <!-- 
	    Header start
	    ==================== -->
    <div class="navbar-default navbar-fixed-top" id="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
	                    <span class="sr-only">Toggle navigation</span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                </button>
                <a class="navbar-brand" href="#">
                    <img class="logo-1" src="images/logo.png" alt="LOGO">
                    <!--<img class="logo-2" src="../public/images/logo-2.png" alt="LOGO">-->
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <nav class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right" id="top-nav">
                    <li class="current"><a href="#body">Home</a></li>
                    <li><a href="#about">About us</a></li>
                    <li><a href="#service">Services</a></li>
                    <li><a href="/signin">Signin/ Signup</a></li>
                </ul>
            </nav>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </div>

    <section id="hero-area">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="block">
                        <h1 class="wow fadeInDown">Welcome to Codepair</h1>
                        <p class="wow fadeInDown" data-wow-delay="0.3s">Codango is a site that connects software developers allowing for pair programming and real time chat</p>
                        <div class="wow fadeInDown" data-wow-delay="0.3s">
                            <a class="btn btn-default btn-home" href="#about" role="button">Get Started</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 wow zoomIn">
                    <div class="block">
                        <div class="counter text-center">
                            <ul id="countdown_dashboard">
                                <li>
                                    <div class="dash days_dash">
                                        <div class="digit">0</div>
                                        <div class="digit">0</div>
                                        <div class="digit">0</div>
                                        <span class="dash_title">Days</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="dash hours_dash">
                                        <div class="digit">0</div>
                                        <div class="digit">0</div>
                                        <span class="dash_title">Hours</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="dash minutes_dash">
                                        <div class="digit">0</div>
                                        <div class="digit">0</div>
                                        <span class="dash_title">Minutes</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="dash seconds_dash">
                                        <div class="digit">0</div>
                                        <div class="digit">0</div>
                                        <span class="dash_title">Seconds</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .row close -->
        </div>
        <!-- .container close -->
    </section>
    <!-- header close -->



    <!-- 
        About start
        ==================== -->
    <section id="about" class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-12 wow fadeInLeft">
                    <div class="sub-heading">
                        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam ipsa recusandae consequatur veniam, reiciendis odit quia eaque vel eius a.</h3>
                    </div>
                    <div class="block">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ulla-mco laboris nisi ut aliquip ex ea commodo consequat.
                            Duis aute irure dolor in</p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, aspernatur.
                        </p>
                    </div>
                </div>
                <div class="col-md-5 col-sm-12 wow fadeInLeft" data-wow-delay="0.3s">
                    <div class="about-slider">
                        <div class="init-slider">
                            <div class="about-item">
                                <img src="images/about/1.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="about-item">
                                <img src="images/about/2.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="about-item">
                                <img src="images/about/3.jpg" alt="" class="img-responsive">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- #about close -->
    <!-- 
        About start
        ==================== -->

    <!-- 
        Service start
        ==================== -->
    <section id="service" class="section">
        <div class="container">
            <div class="row">
                <div class="heading wow fadeInUp">
                    <h2>Our service</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et <br> dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex</p>
                </div>
                <div class="col-sm-6 col-md-3 wow fadeInLeft">
                    <div class="service">
                        <div class="icon-box">
                            <span class="icon">
                                    <i class="ion-android-desktop"></i>   
                                </span>
                        </div>
                        <div class="caption">
                            <h3>Fully Responsive</h3>
                            <p>Lorem ipsum dolor sit amet, con-sectetur adipisicing elit, sed do eiusmod tempor incididunt ut</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 wow fadeInLeft" data-wow-delay="0.3s">
                    <div class="service">
                        <div class="icon-box">
                            <span class="icon">
                                    <i class="ion-speedometer"></i>   
                                </span>
                        </div>
                        <div class="caption">
                            <h3>Speed Optimized</h3>
                            <p>Lorem ipsum dolor sit amet, con-sectetur adipisicing elit, sed do eiusmod tempor incididunt ut</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 wow fadeInLeft" data-wow-delay="0.6s">
                    <div class="service">
                        <div class="icon-box">
                            <span class="icon">
                                    <i class="ion-ios-infinite-outline"></i>   
                                </span>
                        </div>
                        <div class="caption">
                            <h3>Tons of Feature</h3>
                            <p>Lorem ipsum dolor sit amet, con-sectetur adipisicing elit, sed do eiusmod tempor incididunt ut</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 wow fadeInLeft" data-wow-delay="0.9s">
                    <div class="service">
                        <div class="icon-box">
                            <span class="icon">
                                    <i class="ion-ios-cloud-outline"></i>   
                                </span>
                        </div>
                        <div class="caption">
                            <h3>Cloud Option</h3>
                            <p>Lorem ipsum dolor sit amet, con-sectetur adipisicing elit, sed do eiusmod tempor incididunt ut</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- .container close -->
    </section>
    <!-- #service close -->

    <section id="call-to-action" class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 wow text-center">
                    <div class="block">
                        <h2>Lorem ipsum dolor sit amet, consectetur adipisicing</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Enter Your Email Address">
                            <button class="btn btn-default btn-submit" type="submit">Get Notified</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- #call-to-action close -->



    <section clas="wow fadeInUp">
        <div class="map-wrapper">
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <p>Copyright &copy; <a href="#">code-buddies</a>| All right reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
<script>
    //var fireBase = new Firebase("https://pair-programming-cea9c.firebaseio.com/");
    //      var config = {
    //             apiKey: "AIzaSyCfXrpBKVGKKFIZ8MOnreNtdtLrMtHGcII",
    //             authDomain: "pair-programming-cea9c.firebaseapp.com",
    //             databaseURL: "https://pair-programming-cea9c.firebaseio.com",
    //             storageBucket: "pair-programming-cea9c.appspot.com",
    //         };
    //     firebase.initializeApp(config);
    //     app = firebase.database().ref();
    //     fb = app.child('chats')
    //     $("#submit-btn").bind("click", function() {
        
    //     return false;
    // });   
    // $("#submit-btn").bind("click", function(event) {
     
    //     event.preventDefault();
    //     event.stopPropagation();
    // });
    // $("#submit-btn").bind("click", function() {
    //     var comment = $("#comments");
    //     var comment_val = $.trim(comment.val());
     
    //     return false;
    // });
    // $("#submit-btn").bind("click", function() {
    // var comment = $("#comments");
    // var commentValue = $.trim(comment.val());
 
    // fireBaseRef.push({comment: commentValue}, function(error) {
    //         if (error !== null) {
    //             alert('Unable to push comments to Firebase!');
    //         }
    //     });
    
    // return false;
    // });
    // $("#submit-btn").bind("click", function() {
    // var comment = $("#comments");
    // var commentValue = $.trim(comment.val());
 
    // if (commentValue.length === 0) {
    //     alert('Comments are required to continue!');
    // } else {
    //         _fireBaseRef.push({comment: commentValue}, function(error) {
    //             if (error !== null) {
    //                 alert('Unable to push comments to Firebase!');
    //             }
    //         });
    
    //         comment.val("");
    //     }
 
    // return false;
    // });
    // fireBaseRef.on('child_added', function(snapshot) {
    //         var uniqName = snapshot.name();
    //         var comment = snapshot.val().comment;
    //         var commentsContainer = $('#comments-container');
 
    //         $('<div/>', {class: 'comment-container'})
    //             .html('<span class="label label-default">Comment ' 
    //                 + uniqName + '</span>' + comment).appendTo(commentsContainer);
 
    //         commentsContainer.scrollTop(commentsContainer.prop('scrollHeight'));
    // });
</script>

{{/if}}